/* Generic HTML Tags */
body {
  font-family: azaura;
  margin: 0;
  padding: 0;
  height: 100%;
  background: url("question_mark_lish.jpeg");
  background-repeat: repeat;
}

p {
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: large;

    position: absolute;
    bottom: 5px;
    visibility: hidden;          /* Default: show only during interactive mode */
}

/* MENU BAR ITEMS */


#logo {
    cursor: pointer;
}

.row {
    align-content: center;
    border-bottom: 7px solid #084E7E;
    height: 100px;
    cursor:auto;
}

.col-md-2 {
    height: 100%;
}

.col-xs-2 {
    font-size: 30px;
    height: 33%;
    margin:auto;
    cursor:auto;
}

.genre_selector {
    color: black;
    cursor: pointer;
    font-weight: medium;
    text-align: center;
}

#title {
    border: none;
    padding-top: 5px;
    height: 0px;
    left: 0px;
    top: 0px;
    text-align: center;
}

#owner {
    top:22px;
    border: 5px solid #0DAF00;
    background: #0DAF00;
    color: white;
    cursor: auto;
    width:85%;
}


/* MAIN SCREEN ITEMS */
#main {
    height: 500px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}


#admin_owner {
    visibility: visible;
    z-index: 12;
    margin: auto;
    width: 50%;
}
/*#quiz_maker {
  visibility: hidden;
  top:15%;
  position: absolute;
  width:75%;
  left: 0;
  right: 0;
  margin: auto;
}*/
#quiz_maker_pre_screen {
  visibility: hidden;
  z-index: 17;
  vertical-align: middle;
  margin: auto;
  width:45%;
  /*white-space: nowrap;*/
  position: absolute;
  left: 0px;
  right:0px;
}
/*#quiz_maker_pre_screen > div {
  width: 85%;
  display: inline-block;
  float: right;
  position: relative;
}*/

#tmp_maker {
  z-index: 19;
  font-size: 20px;
  color: #565656;
  /*width: 75%;*/
  left: 0px;
  right:0px;
  margin: auto;
  white-space: nowrap;
  vertical-align: middle;
  width:75%;
}
/*#tmp_maker > div {
  width: 85%;
  display: inline-block;
  float: right;
}*/

#admin_menu {
  visibility: visible;
  z-index: 15;
  top:0px;
  position: absolute;
  vertical-align: middle;
}

#edit {
  width: 75%;
  margin: auto;
  white-space: nowrap;
}

#edit > div {
  width: 85%;
  display: inline-block;
  float: right;
}

/*#quiz_maker {
  z-index: 20;
  top:-2050px;
}*/
#quiz_maker > div {
  width: 85%;
  display: inline-block;
  float: right;
}

.published_quizzes {
  width: 40%;
  margin: auto;
  position: absolute;
  left: 0px;
  right:0px;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #A0A0A0;
    background-color: #A0A0A0;
}

#make_new_quiz {
  margin:auto;
  display:block;
}

#go_back
{
  margin:auto;
  display:block;
}
