/* Generic HTML Tags */
body {
	font-family: azaura;
	margin: 0;
	padding: 0;
	height: 100%;
}

p {
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: large;

    position: absolute;
    width: 100%;
    bottom: 5px;
    visibility: hidden;          /* Default: show only during interactive mode */
}

/* MENU BAR ITEMS */
#quiz {
    visibility: hidden;
    z-index: 1;
    top: 10%;
    left: 15%;
    position: absolute;
    text-align: left;
}

#logo {
    cursor: pointer;
}

.row {
    align-content: center;
}

.col-md-2 {
    height: 100%;
}

.col-xs-2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    height: 33%;
}

.genre_selector {
    color: black;
    cursor: pointer;
    font-weight: medium;
    text-align: center;
}

#title {
    border: none;
    padding-top: 5px;
    height: 0px;
    left: 0px;
    top: 0px;
    text-align: center;
}

#random {
    border: 5px solid yellow;   /* Random is default mode*/
    background: blue;
    color: white;
}

#drum_kit {
    border: 2px solid black;
    background: orange;
}
#questions {
    border: 2px solid black;
    background: pink;
}

#score {
    border: 2px solid black;
    background: green;
}

#score_body{
    visibility: hidden;
    z-index: 1;
    top: 10%;
    left: 15%;
    position: absolute;
    text-align: left;
}

/* MAIN SCREEN ITEMS */
#main {
    height: 500px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.images {
    position: absolute;
}

#img_div {
    vertical-align: middle;
    z-index: 2;
}

#team {
    visibility: hidden;
    z-index: 1;
    top: 20%;
    left: 30%;
    position: absolute;
    vertical-align: middle;
}

#owner {
    border: 2px solid black;
    background: grey;
}

#admin_owner {
    visibility: hidden;
    z-index: 12;
    top: 30%;
    left: 30%;
    position: absolute;
    vertical-align: middle;
}
#quiz_maker {
  visibility: hidden;
  z-index: 14;
  top:0px;
 /* top: 20%;
  left: 10%;*/
  position: absolute;
  vertical-align: middle;
}
#admin_menu {
  visibility: hidden;
  z-index: 15;
  top:0px;
 /* top: 20%;
  left: 10%;*/
  position: absolute;
  vertical-align: middle;
}

#published_quiz1 {
  background-color: #4CAF50; /* Green */
}

/* Container needed to position the button. Adjust the width as needed */
.container_btn {
  position: relative;
  
}

/* for buttons on images */

/* Make the image responsive */
.container_btn img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container_btn .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  opacity: .8;
  color: white;
  font-size: 37px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container_btn .btn:hover {
  background-color: #777;
}

.btn {
    height: 100px;
    width: 200px;
    background-color: transparent;
}
