/* Generic HTML Tags */
body {
	font-family: azaura;
	margin: 0;
	padding: 0;
	height: 100%;
}

p {
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: large;

    position: absolute;
    width: 100%;
    bottom: 5px;
    visibility: hidden;          /* Default: show only during interactive mode */
}

/* MENU BAR ITEMS */
.row {
    align-content: center;
}

.col-md-2 {
    height: 100%;
}

.col-xs-3 {
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    height: 33%;
}

#title {
    border: none;
    padding-top: 5px;
    height: 45px;
    left: 0px;
    top: 0px;
}

#random {
    border: 1px solid black;
    background: blue;
}

#drum_kit {
    border: 1px solid black;
    background: orange;
}

#techno {
    border: 1px solid black;
    background: green;
}

#piano {
    border: 1px solid black;
    background: red;
}


/* MAIN SCREEN ITEMS */
#main {
    height: 500px;
    line-height: 500px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid red;
}

.images {
    position: absolute;
}