/* Generic HTML Tags */
body {
	font-family: azaura;
	margin:0;
	padding:0;
	height:100%;
}

p {
    font-weight: bold;
}

div {
    
}

#main_row {
    height: 50vh;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: large;

    position: absolute;
    width: 100%;
    bottom: 5px;
    visibility: hidden;          /* Default: show only during interactive mode */
}

/* Sidebar Items */
.col-md-2 {
    height: 100%;
}

#drum_kit {
    border: 1px solid black;
    color: black;
    background: yellow;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    height: 33%;
}

#techno {
    border: 1px solid black;
    color: black;
    background: green;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    height: 33%;
}

#piano {
    border: 1px solid black;
    color: black;
    background: red;
    padding-top: 20px;
    font-size: 18px;
    height: 33%;
}



/* Classes */
.main {
    text-align: center;
    height: 500px;
    width: 100%;
    text-align: center;

}

.images {
    position: absolute;
}